.pagetitle {
    /*color: blue;*/
    background-image: url(../images/website_background.jpg);
    background-repeat: repeat;
    /*background-attachment: fixed;

    background-size: 100%;*/
    width: 40vw;
	  min-width: 550px;
	  min-height: 100vh;
	  margin-left: 0%;
	  margin-right: 0%;
}
