body {
    /*color: blue;*/
    background-image: url(../images/website_background.jpg);
    /*background-repeat: repeat;
    /*background-attachment: fixed;

    background-size: 100%;
    width: 50%;
	  min-width: 50%;
	  min-height: 100%;*/
}

#background {
  margin-top: 0%;
  height: 200px;
  background-color: #0B1A93;
}
